USE [master]
GO
/****** Object:  Database [Workplace]    Script Date: 26/3/2024 22:08:08 ******/
CREATE DATABASE [Workplace]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Workplace', FILENAME = N'C:\Users\gasto\Workplace.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Workplace_log', FILENAME = N'C:\Users\gasto\Workplace_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Workplace].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Workplace]
GO
/****** Object:  Table [dbo].[Tasks]    Script Date: 26/3/2024 22:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tasks](
	[id_task] [numeric](3, 0) IDENTITY(1,1) NOT NULL,
	[id_user] [numeric](3, 0) NOT NULL,
	[cat] [numeric](1, 0) NULL,
	[pri] [numeric](1, 0) NULL,
	[com] [numeric](1, 0) NULL,
	[tit] [varchar](50) NULL,
	[des] [varchar](50) NULL,
	[fecEdi] [datetime] NULL,
	[fecCre] [datetime] NULL,
 CONSTRAINT [PK_Tasks] PRIMARY KEY CLUSTERED 
(
	[id_task] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 26/3/2024 22:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id_user] [numeric](3, 0) IDENTITY(1,1) NOT NULL,
	[nom] [varchar](50) NULL,
	[ape] [varchar](50) NULL,
	[pas] [varchar](50) NULL,
	[mai] [varchar](50) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[id_user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [FK_Tasks_Users] FOREIGN KEY([id_user])
REFERENCES [dbo].[Users] ([id_user])
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [FK_Tasks_Users]
GO
USE [master]
GO
