<div class="task-container">
    <div class="task-info-container">
        <div class="task-info-container-header">
            <div class="task-info-container-row">
                <i class="fa-solid fa-calendar"></i>
                <div class="text-task" id="fecha-tarea">14/12/24 18:30 01:30 <span id="editado">(Editado)</span></div>
            </div>
            <div>
                <div  class="relative" style="width: 30px; height: 30px; background-color: #5230FF; cursor: pointer; color: #fff; border-radius: 4px;">
                    <i style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);" class="fa-solid fa-check"></i>
                </div>
            </div>
        </div>
        
        <div>
            <div class="task-info-container-row">
                <i class="fa-solid fa-shield-halved"></i>
                <div class="task-info-container-row">
                    <div class="text-task" id="prioridad-tarea">Prioridad: </div>
                    <div class=" text-task task-info-container-priority" id="prioridad-nivel" style="font-size: 10px;"><div style="margin-top: -5px;">5</div></div>
                </div>
            </div>
        </div>
        <div>
            <div class="task-info-container-row">
                <i class="fa-solid fa-list-check"></i>
                <div class="task-info-container-row">
                    <div id="text-task prioridad-tarea">Categoría: </div>
                    <div class="text-task " id="categoria-nivel">Categoría 1</div>
                </div>
            </div>
        </div>
        <div>
            <div class="task-info-container-task">Tarea 1</div>
        </div>
        <div style="overflow: hidden;"> 
            <div class="task-info-container-description">
                Cuando un usuario realiza una actualización de inventario mediante la interfaz web, las cantidades no se reflejan correcasdasdasds ASD asdas das asd asd as
            </div>
        </div>
    </div>
    <div class="task-footer-container">
        <div style="display: flex; gap: 1em; align-items: center;">
            <button title="Editar" class="task-footer-container-buttons"><i class="fa-solid fa-pen"></i></button>
            <button title="Eliminar" class="task-footer-container-buttons"><i class="fa-solid fa-trash"></i></button>
        </div>
        <div>
            <button class="task-footer-container-buttons"><i class="fa-solid fa-arrow-right"></i></button>
        </div>
    </div>
</div>