
.login-title-container{
    display: flex; flex-direction: column; gap: 3em;
}


a, a:hover{
    color:#333
  }

#loginLogo{
    width: 100%;
}

@media screen and (max-width: 500px) {
    #loginLogo{
        width: 70%;
    }

    
  }