* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.form-container {
  width: 450px;
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 1.2em;
}

.buttons-login-container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.hover:hover {
  cursor: pointer;
}

.relative {
  position: relative;
}
.container-title {
  display: flex;
  gap: 0.6em;
  align-items: center;
}
.container-title-title {
  font-size: 20px;
  font-weight: 600;
}
.container-error {
  font-size: 10px;
  position: absolute;
  left: 10px;
  top: 37px;
}
.icon-positioning {
  position: absolute;
  top: 7px;
  right: 10px;
}

.active-check {
  width: 30px;
  height: 30px;
  background-color: #5230ff;
  cursor: pointer;
  color: #fff;
  border-radius: 4px;
}

.inactive-check {
  width: 30px;
  height: 30px;
  background-color: #fff;
  cursor: pointer;
  color: #fff;
  border-radius: 4px;
  border: 1px solid black;
}


@media screen and (max-width: 500px) {
  #loginLogo{
      width: 70%;
  }

  #createUserLogo{
    width: 70%;
  }

  .form-container{
      align-items: center;
  }

  .buttons-login-container {
    width: 15em;
    margin-top: 1em;
  }

  .container-title-title{
    font-size: 16px;
  }
  .container-title {
    display: flex;
    gap: 0.6em;
  }
}