<div class="search-container">
    <div class="search-header">
        <div class="search-title">Tareas</div>
        <div class="search-icon" title="Añadir tarea" (click)="add_tarea()">
            <i class="fa-solid fa-plus search-icon-pos" ></i>
        </div>
    </div>
    <div class="search-input-container">
        <input id="SearchBar" title="Búsqueda" type="text" placeholder="Búsqueda" class="search-input" (input)="onSearchInput($event)">
        <i class="fa-solid fa-magnifying-glass search-input-icon-pos"></i>
    </div>
</div>