<div class="navbar-container">
    <img src="../../../assets/images/work_logo_small.svg" alt="Workday" style="cursor: pointer;">
    <div class="navbar-container-distribution">
        <div class="relative">
            <img src="../../../assets/icons/edit_calendar.svg" style="cursor: pointer;">
            <div class="notifiacation">1</div>
        </div>
        <div class="profile">
            <i class="fa-solid fa-user navbar-icon-pos" (click)="openModal()"></i>
        </div>
    </div>
</div>