.navbar-container{
    padding: 1em 0em ; border-bottom: 1px solid #5230FF; width: 95%; margin-left: 2em; display: flex; align-items: center; justify-content: space-between;
}

.navbar-container-distribution{
    display: flex; align-items: center; gap: 1em;
}

.notifiacation{
    width: 15px; height: 15px; background-color: red; color: white; border-radius: 50%; font-size: 10px; text-align: center; position: absolute; top: 0px; right: -5px;
}
.profile{
    border: 1px solid black; border-radius: 50%; width: 20px; height: 20px; position: relative;
}

.navbar-icon-pos{
    position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); font-size: 12px;
}